<div class="media single-comment" data-comment-id="0000000001">
  <a class="media-left comment-editable-hide" href="#">
    <img class="media-object img-mid" src="./img/蜘蛛侠.jpg" alt="38">
  </a>
  <div class="media-body">
    <h4 class="media-heading pull-left comment-editable-hide"><a class="commenter" href="#">范冰冰</a></h4>
    <div class="dropdown pull-right comment-editable-hide">
      <span class="glyphicon glyphicon-pencil dropdown-toggle comment-edit-delete" id="operate-commented" data-toggle="dropdown"></span>
      <ul class="dropdown-menu operate-comment-menu" role="menu" aria-labelledby="operate-commented">
        <li class="comment-edit" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">编辑</a></li>
        <li class="comment-delete" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">删除</a></li>
      </ul>
    </div>
    <p class="comment-content clear comment-editable-hide">这是一些示例文本。这是一些示例文本。</p>
    <div class="comment-operation comment-editable-hide">
      <a href="#">赞 </a>∙<a class="sub-reply" href="javascript:void(0)"> 回复 </a>∙
       <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> 30</a>
       <time data-datetime="2016年12月18日 12:00" data-timestamp="22323241345" >12月13日 上午2:01</time>
    </div>
    <a class="more-comment" href="#"><img src="./img/reply.png"> 3条回复</a>
    <!-- TODO: 这里要加个点赞以及回复按钮按钮 -->
    <div class="media-list all-subcoments">
      <div class="media single-subcomment" data-subcomment-id="0000000001">
        <a class="media-left" href="#">
          <!--[caren] 下面多了一个引号，我去掉了  -->
          <img class="media-object img-small" src="./img/doc.jpg" alt="玛丽莲梦露">
        </a>
        <div class="media-body"  >
          <h4 class="media-heading pull-left"><a class="commenter" href="#">玛丽莲梦露</a> <span class="towho">回复 嘉文</span></h4>
          <div class="dropdown pull-right">
            <span class="glyphicon glyphicon-pencil dropdown-toggle subcomment-edit-delete" id="operate-commented" data-toggle="dropdown"></span>
            <ul class="dropdown-menu operate-subcomment-menu" role="menu" aria-labelledby="operate-commented">
              <li class="subcomment-edit" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">编辑</a></li>
              <li class="subcomment-delete" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">删除</a></li>
            </ul>
          </div>
          <p class="subcomment-content clear">这是一些示例文本。这是一些示例文本。
          这是一些示例文本。这是一些示例文本。</p>
          <div class="subcomment-operation">
            <a href="#">赞 </a>∙<a  class="sub-sub-reply" href="javascript:void(0)"> 回复 </a>∙
             <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> 0</a>
          </div>
        </div>
      </div>
      <div class="media single-subcomment "  data-subcomment-id="0000000001">
        <a class="media-left" href="#">
          <img class="media-object img-small" src="./img/doc.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading pull-left"><a class="commenter" href="#">赖嘉文</a></h4>
          <div class="dropdown pull-right">
            <span class="glyphicon glyphicon-pencil dropdown-toggle subcomment-edit-delete" id="operate-commented" data-toggle="dropdown"></span>
            <ul class="dropdown-menu operate-subcomment-menu" role="menu" aria-labelledby="operate-commented">
              <li class="subcomment-edit" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">编辑</a></li>
              <li class="subcomment-delete" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">删除</a></li>
            </ul>
          </div>
          <p class="subcomment-content clear">这是一些示例文本。这是一些示例文本。
          这是一些示例文本。这是一些示例文本。</p>
          <div class="subcomment-operation">
            <a href="#">赞 </a>∙<a class="sub-sub-reply" href="javascript:void(0)"> 回复 </a>∙
             <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> 0</a>
          </div>
        </div>
      </div>
      <div class="media subcomment-editor">
        <a class="pull-left" href="#"><img class="media-object img-small" src="./img/蜘蛛侠.jpg"></a>
        <span class="for-comment" data-for-comment="">回复 嘉文</span>
        <!-- <div class="textarea subcomment-input" contenteditable="plaintext-only"></div> -->
        <span></span>
        <div class="subcomment-input-div">
          <textarea class="subcomment-input" placeholder="写回复..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
