
	<!-- 放在尾部，加快网页加载 -->
	<script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/bootstrap-3.3.0/js/bootstrap.min.js"></script>
  <script src='/js/autosize.js'></script>
    <!-- 图片全屏查看 lightbox -->
  <script src="/lightbox/modernizr.js?v=1.3.0"></script>
  <script src="/lightbox/site.js?v=1.3.0"></script>
  <script src="/flextext/jquery.flexText.js"></script>
  <script type="text/javascript" src="/js/bootstrap-imgupload.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/post.js"></script>
	<script src="/js/search.js"></script>


  <script type="text/javascript">
    // autosize(document.querySelectorAll('textarea'));
  // 激活图片上传插件
    // $('.imgupload').imgupload();
    // $('.imgupload').imgupload({
    //   allowedFormats: [ "jpg", "jpeg", "png", "gif" ],
    //   previewWidth: 120,
    //   previewHeight: 120,
    //   maxFileSizeKb: 2048
    // });
</script>
</body>
</html>
