<div class="all-search-user">
  <div class="search-head-into"><img src=""><span>检索结果</span></div>
  <div class="result-user-item">
      <div class="result-user-avatar" >
        <a href="#"><img src="./img/doc.jpg"></a>
      </div>
      <div class="result-user-detail">
        <div>
          <a class="result-user-name" href="#">杨观荣</a>
        </div>
        <p class="result-user-academy">计算机与软件学院</p>
        <p class="result-user-intro">hhehehheheh 呵呵</p>
      </div>
      <!-- <button class="btn-dd-friend">已是好友</button> -->
      <button class="btn-add-friend">发送好友请求</button>
  </div>
  <div class="result-user-item">
    <div class="result-user-avatar" >
      <a href="#"><img src="./img/doc.jpg"></a>
    </div>
    <div class="result-user-detail">
      <div>
        <a class="result-user-name" href="#">杨观荣</a>
      </div>
      <p class="result-user-academy">计算机与软件学院</p>
      <p class="result-user-intro">hhehehheheh 呵呵</p>
    </div>
    <!-- <button class="btn-dd-friend">已是好友</button> -->
    <button class="btn-add-friend">发送好友请求</button>
  </div>
</div>
