<div class="sidebar-right-fixed">
  <div class="recommand">
    <div class="recommand-head">
      <span class="r-title pull-left">推荐活动</span><a href="#" class="pull-right">全部</a>
    </div>
    <div class="recommand-list">
      <div class="r-item acitve">
        <div class="active-img" >
          <a href="#" title="南馆三楼学习约吗"><img src="./img/doc.jpg"></a>
        </div>
        <div class="active-detail">
          <div>
            <a class="title" href="#" title="南馆三楼学习约吗">南馆三楼学习约吗约吗...</a>
          </div>
          <p class="time">时间: 12月25日 - 12月27日</p>
          <p class="parts">1人参加</p>
        </div>
      </div>
      <div class="r-item acitve">
        <div class="active-img" >
          <a href="#" title="南馆三楼学习约吗"><img src="./img/doc.jpg"></a>
        </div>
        <div class="active-detail">
          <div>
            <a class="title" href="#" title="南馆三楼学习约吗">南馆三楼学习约吗约吗...</a>
          </div>
          <p class="time">时间: 12月25日 - 12月27日</p>
          <p class="parts">1人参加</p>
        </div>
      </div>
      <div class="r-item acitve">
        <div class="active-img" >
          <a href="#" title="南馆三楼学习约吗"><img src="./img/doc.jpg"></a>
        </div>
        <div class="active-detail">
          <div>
            <a class="title" href="#" title="南馆三楼学习约吗">南馆三楼学习约吗约吗...</a>
          </div>
          <p class="time">时间: 12月25日 - 12月27日</p>
          <p class="parts">1人参加</p>
        </div>
      </div>
    </div>
    <div class="r-item acitve">
        <div class="active-img" >
          <a href="#" title="南馆三楼学习约吗"><img src="./img/doc.jpg"></a>
        </div>
        <div class="active-detail">
          <div>
            <a class="title" href="#" title="南馆三楼学习约吗">南馆三楼学习约吗约吗...</a>
          </div>
          <p class="time">时间: 12月25日 - 12月27日</p>
          <p class="parts">1人参加</p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p><a href="#">隐私政策</a> · <a href="#">条款</a> · <a href="#">技术提供</a></p>
      <p>BottomBook &copy; 2016</p>
    </div>
  </div>
</div>
